.about {
  padding: 15rem 0;
}

.about__container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}

.about__content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.img__side {
  position: relative;
}

.img__side__main-img {
  border-radius: 1.7rem;
  height: 35rem;
  width: 41rem;
}

.text__side {
  padding-right: 1.5rem;
}

.text__side h4 {
  color: #147efb;
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.text__side h3 {
  color: #2d2e32;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.text__side p {
  color: #767676;
  font-family: Mulish, sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
}

.about__info__item {
  margin: 10rem auto;
  max-width: 107rem;
  padding: 0 4rem;
}

.about__info__heading {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #147efb;
}

@media only screen and (max-width: 1020px) {
  .about__container {
    padding: 0 1.7rem;
  }
  .about__content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .img__side__main-img {
    margin-bottom: 3.5rem;
    width: auto;
  }

  .text__side {
    margin: 0 auto;
    max-width: 54rem;
  }

  .about__info__heading {
    font-size: 3rem;
    text-align: center;
  }
}

@media only screen and (max-width: 460px) {
  .img-side__main-img {
    height: auto;
    width: 90%;
  }
}
