#contactComponent h2 {
  color: #147efb;
  font-size: 3.6rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

.contact__boxItem {
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  transition: all 1s ease-in-out;
}

.contact__icon {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fafafa;
}

#darkmode .contact__boxItem {
  background-color: #000000ae;
  box-shadow: 0 0 15px #ffffff34;
}

.icon-c {
  width: 32px;
}

.contactSection__wrapper {
  display: flex;
  gap: 5rem;
  margin-top: 7rem;
  justify-content: space-between;
  position: relative;
}

.contactSection__wrapper::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 50%;
  background-color: #2d2e32;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.left {
  width: 100%;
  max-width: 500px;
}

.right {
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
  /* padding-left: 3rem; */
}

.contact-form {
  width: 100%;
}

.form-group {
  width: 100%;
  margin-bottom: 2rem;
}

.contact-label {
  font-size: 2rem;
  font-family: Mulish, sans-serif;
}

.input-textarea {
  width: 100%;
  font-size: 2rem;
  padding: 1.2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  outline: none;
  border: none;
  margin-top: 1rem;
  transition: all 1s ease-in-out;
  border-radius: 8px;
}

textarea {
  min-height: 250px;
  resize: vertical;
}

#darkmode .input-textarea {
  background-color: #000000ae;
  color: #fafafa;
  box-shadow: 0 0 15px #ffffff34;
}

.contact-form button{
  background-color: #086bff;
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  display: inline-block;
  width: 90%;
  padding: 1.5rem 0;
  outline: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.contact__boxItem a{
  font-size: 1.4rem;
}

.contact__text {
  font-size: 1.7rem;
  line-height: 1.3em;
}

@media only screen and (max-width: 1050px) {
  .contact__comeBack {
    position: absolute;
    left: 3rem;
    top: 3rem;
    padding: 1rem 2rem;
  }

  .container__contact {
    margin: 1rem;
  }

  .section__title p {
    font-size: 1.4rem;
  }

  .contactSection__wrapper {
    flex-direction: column;
  }

  .contactSection__wrapper::after {
    display: none;
  }

  .left,
  .right {
    max-width: 100%;
  }

  .right {
    padding: 4rem 2rem 2rem 2rem;
  }

  .contact__text {
    font-size: 1.4rem;
    line-height: 1.3em;
  }

  .contact__boxItem a{
    font-size: 1rem;
  }
}
