.contactBanner__wrapper {
    background-color: #ffffff;
    box-shadow: 0 0 15px #0000001a;
    padding: 5rem;
    text-align: center;
    color: #2d2e32;
    transition: all 1s ease-in-out;
}

#darkmode .contactBanner__wrapper {
    background-color: #000000f3;
    box-shadow: 0 0 15px #ffffff1a;
    color: #fafafa;
}
.contactBanner__wrapper h3 {
    font-size: 4rem;
}

.contacBanner__button {
    border: none;
    color: #086bff;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #0000001a;
    padding: 1.5rem;
    transition: all 1s ease-in-out;
}

#darkmode .contacBanner__button {
    background-color: #2d2e32;
    box-shadow: 0 0 7px #ffffffc3;
}

.contactBanner__wrapper button:hover {
    transform: scale(1.1);
}

.contactBanner__wrapper p {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 1.3em;
    color: #767676;
    font-family: Mulish, sans-serif;
    margin-bottom: 2rem;
    transition: all 1s ease-in-out;
}

#darkmode .contactBanner__wrapper p {
    color: #dcdcdc;
}

.contactbanner__icon {
    width: 9rem;
}


@media only screen and (max-width: 768px) {
    .contactBanner__wrapper h3{
        font-size: 2.4rem;
    }

    .contactBanner__wrapper p {
        font-size: 1.2rem;
    }

    .contactbanner__icon {
        width: 6rem;
    }
}