.projects__container {
    padding: 10rem 0;
    background-color: #f9f9f9;
    transition: all 1s ease-in-out;
}

#darkmode .projects__container {
    background-color: #000000e5;
}
.projects__container h2{
    color: #147efb;
}
.projects__container P{
    color: #767676;
    font-family: Mulish, sans-serif;
    margin-bottom: 2rem;
    transition: all 1s ease-in-out;
}

#darkmode .projects__container P{
    color: #dcdcdc;
}
