#projects {
    padding: 10rem 0;
    background-color: #f9f9f9;
    transition: all 1s ease-in-out;
    text-align: center;
}

#darkmode #projects {
    background-color: #000000e5;
}
#projects h2{
    color: #147efb;
    font-size: 3.6rem;
}
#projects P{
    color: #767676;
    font-family: Mulish, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    transition: all 1s ease-in-out;
}

#darkmode #projects P{
    color: #dcdcdc;
}
